<main class="bg-slate-300 h-screen">
  <nav class="px-2 sm:px-4 py-2.5 dark:bg-blue-900 border-b border-gray-200 dark:border-gray-600">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <div class="flex items-center"></div>
      <a href="/categories" class="flex items-center">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">CATEGORIES</span>
      </a>
      <div class="flex items-center"></div>
    </div>
  </nav>

  <div class="w-full flex align-center justify-center py-2.5">
    <a href="/users/password/new" class="text-gray-600 font-sans">Forgot your password?</a>
  </div>

</main>
